extends layout
block content
  .home.index
    .container
      .row.intro
        .col-md-2.col-md-offset-1
          img.logo(src="/img/logo.png", width="161", height="161", alt="Read or Die Logo")
        .col-md-8.copy
          h1 Read or Die!
          p.lead.sub Start reading up to 10 times faster today.
          p
            <a href="https://twitter.com/readordietoday" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @readordietoday</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    .demo
      .container
        .row
          .col-md-10.col-md-offset-1
            canvas#canvas(width='740', height='150')

            .controller
              .col-md-10
                .navbar.navbar-default
                  .container-fluid
                    ul.nav.navbar-nav
                      li
                        button#play-button.btn.navbar-btn  _
                      li.play-pause-label
                        p.navbar-text play/pause
                      li.divider
                      li
                        button#speed-up-button.btn.navbar-btn
                          span.glyphicon.glyphicon-chevron-up
                      li
                        button#speed-down-button.btn.navbar-btn
                          span.glyphicon.glyphicon-chevron-down
                      li
                        p.navbar-text speed up/down by 50 wpm
                      li
                        p.navbar-text
                      li.divider
                      li.pull-right
                        p#speed-wpm.navbar-text 200 wpm


    .container
      .row
        .col-md-10.col-md-offset-1.info
          p.lead How many interesting articles have you been sent that you've never read? How many unread books line your shelves? Does your collection always grow faster than your reading?

          p.lead We need a better way to absorb knowledge, one that takes less time and is more effective. Read or Die provides an optimized, distraction-free way to do just that.

