@import "lib/bootstrap";

.controller {
  margin-left: 88px;
  width: 924px;

  #speed-up-button {
    margin-right: 8px;
  }

  .play-pause-label p {
    margin-right: 34px;
  }

  button {
    background-color: #eee;
  }

  .navbar {
    margin-bottom: 0;
    @include border-top-radius(0);
  }
}

ul.nav {
  width: 100%;
}

.home.index {

  padding: 65px 0;

  .intro {
    padding-bottom: 65px;

    .copy {
      padding-left: 43px;
    }


    h1 {
      font-size: 63px;
      margin-top: 0px;
    }

    .sub {
      padding-left: 3px;
    }

  }

  .demo {
    background-color: #eee;
    padding: 65px 0;
    margin-bottom: 65px;
  }


  canvas#canvas {
    display: block;
    background: #F8F8F1;
    width: 740px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    border-width: 1px 1px 0 1px;
    @include border-top-radius(4px);
    // width: 740px !important;
    // height: 150px !important;
  }
}


