@import "lib/bootstrap";

.controller {
  margin-left: 87px;
  width: 925px;

  #speed-up-button {
    margin-right: 8px;
  }

  .play-pause-label p {
    margin-left: 10px;
    margin-right: 30px;
  }

  button {
    background-color: #eee;
  }
}

ul.nav {
  width: 100%;
}

.home.index {

  padding: 65px 0;

  .intro {
    padding-bottom: 65px;

    .copy {
      padding-left: 43px;
    }


    h1 {
      font-size: 63px;
      margin-top: 0px;
    }

    .sub {
      padding-left: 3px;
    }

  }

  .demo {
    background-color: #eee;
    padding: 65px 0;
    margin-bottom: 65px;
  }


  canvas#canvas {
    display: block;
    background: #F8F8F1;
    width: 740px;
    margin: 0 auto;
    // width: 740px !important;
    // height: 150px !important;
  }
}


